<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/CSS/leaderboard.css" rel="stylesheet">
    <title>Deadlock Leaderboard</title>
</head>
<body>
    <div class="container">
        <h1>Deadlock Leaderboard</h1>

        {% if leader_board and leader_board|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th width="10%">Rank</th>
                    <th width="60%">Player Name</th>
                    <th width="30%">MMR Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leader_board %}
                <tr>
                    <td class="rank">{{ loop.index }}</td>
                    <td class="player-name">{{ entry.account_name }}</td>
                    <td class="mmr">{{entry.ranked_rank }}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="color: white; text-align: center; font-size: 1.2em;">
            No leaderboard data available.
        </p>
        {% endif %}
    </div>
<script> 
 window.onload = function replaceNumber(){
            let mmrElements = document.getElementsByClassName('mmr');
            for(let i=0; i<mmrElements.length; i++){
                 mmrElements[i].innerText = mmrElements[i].innerText.replace('11', 'Eternus');
                 mmrElements[i].innerText = mmrElements[i].innerText.replace('10', 'Ascendant');
                 
            }
        } </script>
</body>
 
</html>
