<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Patch Info Page</title>
  <link href="../static/CSS/accessible_grid.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <header>
    <div class="header_text">
      <h1>Patch Notes</h1>
      {% if date %}
        <h2>{{ date }}</h2>
      {% endif %}
    </div>
  </header>
  <nav aria-labelledby="main menu">
    <ul>
      <li><a href="leaderboard.html"><span aria-hidden="true">LeaderBoard</span></a></li>
      <li><a href="steam.html"><span aria-hidden="true">Steam</span></a></li>
      <li><a href="semantic_outline.html"><span aria-hidden="true">semantic</span></a></li>
      <li><a href="home_page.html"><span aria-hidden="true">Home Page</span></a></li>
      <li><a href="leaderboard.html"><span aria-hidden="true">Leaderboard</span></a></li>
    </ul>
  </nav>
  <main>

            {% for section in sections %}
                <div class="body_header_text">
                {% if section.header %}
                    <h2>{{ section.header }}</h2>
                </div>
            {% endif %}

            <div class="inner_body_text">
                <div class="flex_container">
                    <div>
                        {% for bullet in section.bullets %}
                            <p>{{ bullet }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}

  </main>
  <aside id="aside1">
    
  </aside>
  <aside id="aside2">
   
  </aside>
  <footer>
    <small> designed by </small>
  </footer>

</div> 
</body>
</html>
