<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/CSS/leaderboard.css" rel="stylesheet">
    <title>Account Search - Deadlock</title>
</head>
<body>
    <div class="container">
        <h1>Account Search Results</h1>

        {% if match_history and match_history|length > 0 %}
        <h2>Win/Loss Record:</h2>
<p style="color: white; text-align: center; font-size: 1.2em;">
    Wins: {{ record.wins }} | Losses: {{ record.losses }} | Win/Loss Ratio: {{ record.win_loss_ratio }}
</p>
        <table>
            <thead>
                <tr>
                    <th width="20%">Match Result</th>
                    <th width="20%">Match ID</th>
                    <th width="20%">Duration</th>
                    <th width="20%">Net Worth</th>
                    <th width="20%">Net Worth/Min</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in match_history %}
                <tr>
                    <td class="match-result">{{ entry.player_match_outcome }}</td>
                    <td class="match-ID">{{ entry.match_id }}</td>
                    <td class="match-duration">{{ entry.match_duration_min }}m {{ entry.match_duration_sec }}s</td>
                    <td class="net-worth">{{ entry.net_worth }}</td>
                    <td class="net-worth-per-min">{{ entry.net_worth_per_min }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="color: white; text-align: center; font-size: 1.2em;">
            No accounts found.
        </p>
        {% endif %}
    </div>
</body>
</html>